body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: #000; /* Add this line */
    font-weight: "bold"; /* Use a valid font weight */
  }

  h2 {
    width: 100%;
    text-align: center;
    color: #000; /* Add this line */
    font-weight: "bold"; /* Use a valid font weight */
  }




body {
    background-color: lightgray;
}

.page {
    width: 800px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 10px;
}

.small-font {
    font-size: 14px;
}


#map_projection {
    margin: 0 auto; /* This will center the div horizontally */
}


p {
    font-size: 19px; /* You can adjust the size as needed */
  }
